@media screen and (max-width: 1440px) {

    .card {
        text-align: center;

        &__title {
            font-size: 22px;
        }
        &__subtitle {
            font-size: 13px;
            line-height: 19px;
 
        }
        &__btn {
            font-size: 10px;
        }

        &__small {
            width: 40.5%;
        }
    }

    .news {
        &__sidebar {
            width: 46%;
        }

        &__content {
            width: 46%;
        }
            
    }
    
    .news-nav__link {
        width: 60px;
        height: 45px;
    }

    .about__text {
        font-size: 11px;
    }
    .about__btn {
        font-size: 11px;
    }

    .footer {

        &__title {
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 5%;
        } 


        &__link {
            font-size: 13px;
        }
    }
}
@media screen and (max-width: 1300px) {
    .nav__link {
        font-size: 13px;
    }

    .slide__title {
        font-size: 40px;
    }
    .slide__subtitle {
        font-size: 15px;
        margin: 3% 0%;
    }

    .news-nav {
        margin: 1% 1%;
    
        &__link {
            width: 48px;
            height: 36px;
            font-size: 10px;
        }
    }

    .about__text {
        font-size: 9px;
    }
    .about__btn {
        font-size: 9px;
    }
}

@media screen and (max-width: 1024px) {
    .nav__link {
        font-size: 10px;
    }

    .slider {
        width: 70%;
    }

    .news {
        display: flex;
        flex-direction: column;

        &__sidebar {
            width: 100%;

        }

        &__sidebar--btn {
            margin-top: 3%;
            padding: 3% 4%;
        }

        &__content {
            width: 100%;
        }

        &__content--nav {
            justify-content: center;
        }
        
    }

    .card {
        margin: 2% 0%;
    }

    .about__text {
        font-size: 7px;
    }
    .about__btn {
        font-size: 7px;
    }
    .contact {
        &__banner {
            margin: 3% 10%;
        }
    }

    .footer {
        padding: 0% 10%;
    }
}

@media screen and (max-width: 800px) {
    .nav__link {
        font-size: 7px;
    }
    .slider {
        width: 100%;
    }


    .about {
        width: 100%;
    
        &__text {
            width: 100%;
            font-size: 10px;
            text-align: center;
        }
        &__btn {
            font-size: 10px;
        }
    }

    .contact {
        &__banner {
            margin: 3% 10%;
            display: flex;
            flex-direction: column;
        }
    }
    .banner {
        width: 100%;
        margin-bottom: 3%;

        &__title {
            font-size: 20px;
            margin: 0%;
            text-align: center;
        }

        &__empty {
            width: 100%;
            padding: 3%;
            text-align: center;
            margin: 0%;
            justify-content: center;
        }
    }

    .footer {

        &__title {
            font-size: 27px;
            line-height: 30px;
            margin-bottom: 5%;
        } 
        &__subtitle {
            font-size: 13px;
            line-height: 20px;
        }


        &__link {
            font-size: 10px;
        }

        &__bottom--text {
            font-size: 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    .header{
    
        &__title {
            font-size: 25px;
        }
        &__subtitle {
            font-size: 13px;
        }
    }

    .nav__link {
        font-size: 5px;
    }

    .slide__title {
        font-size: 35px;
        line-height: 45px;
    }
    .slide__subtitle {
        font-size: 12px;
        margin: 3% 0%;
        line-height: 23px;
    }

    .invite {
        padding: 2% 2% 7% 2%;
    }
    .news {
        padding: 2% 2%;
    }
    .contact {
        
        &__about {
            padding: 10% 2%;
        }
    }

    .news-nav {
        margin: 1% 1%;
    
        &__link {
            width: 43px;
            height: 33px;
            font-size: 10px;
        }
    }
    .my-dots {
        bottom: -45px;
        padding: 0%;
        justify-content: center;
    }

    .card {

        &__title {
            font-size: 18px;
        }

        &__social--icon {
            width: 25px;
            margin: 0% 3%;
        }

        &__arrow-btn {
            width: 13px;
            height: 13px;
        }

        &__small-btn {
            font-size: 10px;
        }
    }

    .right-arrow {
        width: 3px;
        height: 3px;
        margin: 3px 3px;
    }

    .footer {
        &__head {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }

        &__content {
            width: 100%;
        }

        &__link {
            margin: 0%;
        }

        &__bottom--text {
            text-align: center;
        }
    }
}

@media screen and (max-width: 425px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav__link {
        font-size: 15px;
    }

    .my-dots {
        bottom: -30px;
        justify-content: center;
        padding: 0%;
    }
    .my-dots li {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 10px;
        padding: 0;
        cursor: pointer;
    }

    .card {
        &__subtitle {
            font-size: 10px;
            line-height: 14px;
        }

        &__btn {
            padding: 3% 5%;
        }

        &__social--icon {
            width: 20px;
            margin: 0% 3%;
        }
    }

    .news-nav {
        margin: 1% 1%;
    
        &__link {
            width: 35px;
            height: 25px;
            font-size: 7px;
        }
    }
}

@media screen and (max-width: 375px) {
    .header{
    
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 10px;
        }
    }

    .nav__link {
        font-size: 10px;
    }

    .slide__title {
        font-size: 23px;
        line-height: 30px;
    }
    .slide__subtitle {
        font-size: 10px;
        margin: 3% 0%;
        line-height: 23px;
    }

    .news-nav {
        margin: 1% 1%;
    
        &__link {
            width: 30px;
            height: 20px;
            font-size: 7px;
        }
    }

    .card {

        &__btn {
            padding: 3% 3%;
        }

    }

    .about {
        width: 100%;
    
        &__text {
            width: 100%;
            font-size: 7px;
            text-align: center;
        }
        &__btn {
            font-size: 7px;
        }
    }

}